$TTL    604800
@       IN      SOA     ${HOSTNAME}.${DOMAIN}. ${BIND_ADMIN}. (
                      201205231         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
@       IN      NS      ${HOSTNAME}.
${SELF_ADDRESS_IP4_VALUE}   IN      PTR     ${HOSTNAME}.
